@{
    Layout = "_Layout";
}

@model List<Pizza> 

<h1>Ciao pizzeria!</h1>

<h3>Ecco le nostre pizze: </h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Jucie image</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (Pizza pizza in Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@pizza.Name</td>
                <td>@pizza.Description</td>
                <td><img style="width: 150px; height: 100px;" src="@Url.Content(@pizza.Picture)" alt="@pizza.Name"></td>
                <td>&euro; @pizza.Price</td>
                <td><a href="@Url.Action("Details", "Pizza", new {id = count})" >Dettagli</a></td>
            </tr>
            count++;
        }
    </tbody>
</table>
